<div class="card-principal-info">
  <mat-card class="card-mat">
    <img src="https://pr0.nicelocal.br.com/24-oilxLQoh-o6dmy0EIIQ/2172x1500,q75/4px-BW84_n0QJGVPszge3NRBsKw-2VcOifrJIjPYFYkOtaCZxxXQ2U81yBlO6oqzpvtRkpyN_6mZsHZx2FUiBHoAAci1HORhng-Jngu12nu96shOZJS2og" width="600px" alt="Shell Box">
    <mat-card-content class="mat-content">
      <mat-card-header>
        <mat-card-title>Sobre o Posto Verão</mat-card-title>
      </mat-card-header>
      <p>Posto Verão foi criado em 2017 em Eunápolis - BA</p>
      <p>E hoje, é uma dos maiores postos da região!!</p>
      <p>Oferece diversos serviços, além de uma conveniência Shell Selected para atender seus clientes que vem de todas as regiões.</p>
    </mat-card-content>
  </mat-card>
</div>
