<mat-toolbar color="primary" class="mat-elevation-z8">
  <img src="https://redeverao.com.br/logofundotransparente.png" alt="Rede Verão" width="100px">

   <div class="spacer"></div>

  <a mat-button routerLink="">Home</a>
  <a mat-button routerLink="/services">Shell Box</a>
  <a mat-button routerLink="/about">Sobre</a>
  <a mat-button routerLink="/location">Localização</a>
  <a mat-button routerLink="/contact">Contatos</a>
  <a mat-raised-button color="accent" routerLink="/login">Login</a>
</mat-toolbar>
