<section class="section-big-card">
  <div class="card-principal-info" id="shellBox">
    <mat-card class="card-mat">
      <mat-card-header>
        <mat-card-title>Shell Box</mat-card-title>
      </mat-card-header>
      <img src="https://s3-sa-east-1.amazonaws.com/raizen-prod/items-images/post-104-cone-1.png" width="500px" alt="Shell Box">
      <mat-card-content style="margin-top: 10px;">
        <p>Com o Shell Box você aproveita muito mais a Shell. Aqui você paga sem contato, participa automaticamente das promoções vigentes e tem benefícios de montão. Tudo na palma da sua mão!</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="card">
    <!---Card 2--->
    <mat-card class="card-container">
      <mat-card-header>
        <div mat-card-avatar class="image-card"></div>
        <mat-card-title>Shell Box</mat-card-title>
        <mat-card-subtitle>Passo 1</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://www.shell.com.br/motoristas/promocoes-e-campanhas/app-shell-box/_jcr_content/par/grid_copy_copy/p0/contentblock/image.img.960.png/1645213768411/passo-1.png?imwidth=480" alt="Passo 1">
      <mat-card-content class="mat-card-container">
        <p>
          Baixe o App e faça seu Cadastro
        </p>
      </mat-card-content>
      <mat-card-actions class="mat-card-action">
        <button mat-icon-button class="btn-center">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>share</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>

    <!---Card 3--->
    <mat-card class="card-container">
      <mat-card-header>
        <div mat-card-avatar class="image-card"></div>
        <mat-card-title>Shell Box</mat-card-title>
        <mat-card-subtitle>Passo 2</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://www.shell.com.br/motoristas/promocoes-e-campanhas/app-shell-box/_jcr_content/par/grid_copy_copy/p1/contentblock/image.img.960.png/1645213546321/passo-2.png?imwidth=480" alt="Passo 2">
      <mat-card-content>
        <p>
          Escolha uma forma de pagamento: Cartão de Crédito, PayPal, Mercado Pago ou Dinheiro.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button>
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>share</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>

    <!---Card 4--->
    <mat-card class="card-container">
      <mat-card-header>
        <div mat-card-avatar class="image-card"></div>
        <mat-card-title>Shell Box</mat-card-title>
        <mat-card-subtitle>Passo 3</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://www.shell.com.br/motoristas/promocoes-e-campanhas/app-shell-box/_jcr_content/par/grid_copy_copy/p2/contentblock/image.img.960.png/1645217131249/passo-3-new.png?imwidth=480" alt="Passo 3">
      <mat-card-content>
        <p>
          Vá até o posto Shell ou loja Shell Select mais próxima. Pague com o Shell Box e acumule pontos
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button>
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>share</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</section>

